.article{
    &__main{
        &__inner{
            @include break(medium) {
                @include grid;
                grid-template-columns:1fr 1fr 1fr;
                grid-auto-rows: auto;
                grid-template-areas:
                "block_1 block_1 block_2";
            }
        }
    }
    &__cats{
        @include align(center, left);
        margin-bottom: $gap/2;
        &__cat{
            border: 1px solid $color-accent;
            padding: .5em 1.4em;
            margin-right: 1.2em;
            @include text-blocky(1.2rem);
            border-radius: 2px;
            span{
                position: relative;
                top: 1px;
            }
        }
    }
    &__hero{
        margin-bottom: $gap;
        &__image{
            width: 100%;
            height: auto;
        }
    }
    &__title{
        @include title;
        width: 100%;
        max-width: 675px;
    }
    &__main{
        background-color: $off-white;
    }
    &__main-col{
        padding-top: $gap;
        grid-area: block_1;
        position: relative;
    }
    &__aside{
        padding-top: $gap;
        grid-area: block_2;
    }
    &__body{
        @extend %text-body-format;
        padding-bottom: $gap*2;
    }
    &__misc{
        padding-top: $gap;
    }
    &__author{
        position: absolute;
        top: 0;
        left: 0;
        transform: translatey(-50%);
        @include break(sitewidthplus) {
            left: -57px;
        }
        &__name{
            @include pill;
            padding-left: 57px;
        }
        &__image{
            width: 50px;
            height: 50px;
            border-radius: 25px;
            overflow: hidden;
            position: absolute;
            left: 0;
            transform: translatey(-25%);
        }
    }
    &__date{
        @include pill;
        position: absolute;
        top: 0;
        right: 0;
        transform: translatey(-50%);
    }
    &__footer{
        background-color: white;
        padding-top: $gap*2;
        padding-bottom: $gap*2;
    }
    &__related{
        background-color: $color-dark-gray;
        padding-top: $gap*2;
        padding-bottom: calc( #{$gap*2} + 60px );
        &__title{
            @include block-title;
            margin-bottom: $gap;
        }
    }
}