.article{
    &__header{
        background-color: white;
        &__title{
            @include title;
            width: 100%;
            max-width: 760px;
            margin-bottom: $gap/2;
        }
        &__cat-description-mobile{
            width: 100%;
            margin-top: $gap;
            margin-bottom: $gap;
            display: block;
            @include break(medium) {
                display: none;
            }
            a{
                @include link-styled--inline;
            }
        }
    }
    &__leadin-section{
        &__inner{
            @include break(medium) {
                @include grid;
                grid-template-columns:1fr 1fr 1fr;
                grid-auto-rows: auto;
                grid-template-areas:
                "leadin_block_1 leadin_block_1 leadin_block_2";
            }
        }
        &__main-col{
            padding-top: $gap;
            grid-area: leadin_block_1;
            position: relative;
        }
        &__aside{
            padding-top: $gap;
            grid-area: leadin_block_2;
        }
    }
    &__main{
        &__inner{
            @include break(medium) {
                @include grid;
                grid-template-columns:1fr 1fr 1fr;
                grid-auto-rows: auto;
                grid-template-areas:
                "block_1 block_1 block_2";
            }
        }
    }
    &__main-col{
        padding-top: $gap;
        grid-area: block_1;
        position: relative;
    }
    &__aside{
        padding-top: $gap;
        grid-area: block_2;
    }
    &__chunk{
        &__inner{
            @include break(medium) {
                @include grid;
                grid-template-columns:1fr 1fr 1fr;
                grid-auto-rows: auto;
                grid-template-areas:
                "chunk_block_1 chunk_block_1 chunk_block_2";
            }
        }
        &__main-col{
            padding-top: $gap;
            grid-area: chunk_block_1;
            position: relative;
        }
        &__aside{
            padding-top: $gap;
            grid-area: chunk_block_2;
        }
        &__footer{
        }
    }
    &__cats{
        @include align(center, left);
        margin-bottom: $gap/2;
        &__cat{
            border: 1px solid $color-accent;
            padding: .5em 1.4em;
            margin-right: 1.2em;
            @include text-blocky(1.2rem);
            border-radius: 2px;
            span{
                position: relative;
                top: 1px;
            }
        }
    }
    &__hero{
        margin-bottom: $gap;
        @include raised-object;
        &__image{
            width: 100%;
            height: auto;
        }
    }
    &__main{
        background-color: $off-white;
    }
    &__body{
        @extend %text-body-format;
        padding-bottom: $gap*2;
        &__gap{
            height: 3rem;
            display: block;
        }
        img {
            width: 100%;
            max-width: 760px;
        }
    }
    &__misc{
        padding-top: $gap;
    }
    &__date{
        @include pill;
        position: absolute;
        top: 0;
        right: 0;
        transform: translatey(-50%);
    }
    &__body-footer{
        padding-top: 0;
        padding-bottom: $gap*2;
        display: flex;
        gap: $gap;
        flex-direction: row;
        flex-wrap: wrap;
        &__voting{
            flex-shrink: none;
        }
        &__share{
            flex-grow: 1;
            display: flex;
            gap: $gap/3;
        }
        &__link{
            @include link-styled;
        }
        &__link-next{
            @include link-styled;
        }
    }
    &__footer{
        padding-top: $gap*2;
        padding-bottom: $gap*2;
        background-color: white;
    }
    &__related{
        &__title{
            margin-bottom: $gap*2;
        }
    }
    .main-col{
        min-height:unset!important;
    }
}