// font loading

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Signika:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

@mixin font-display {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
@mixin font-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
@mixin font-semi {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
@mixin font-body {
    font-family: "Signika", sans-serif;
    font-weight: 300;
}
@mixin font-body--medium {
    font-family: "Signika", sans-serif;
    font-weight: 400;
}
@mixin font-body--bold {
    font-family: "Signika", sans-serif;
    font-weight: 600;
}
@mixin font-alt {
    font-family: "Bitter", serif;
    font-weight:600;
}

// font-size;
$font-size-base: 10px;
$font-size-tiny:1.2rem;
$font-size-std: 1.5rem;
$font-size-body-copy: 1.7rem;

// line heights
$line-height-std: 1.2;

@mixin text-background($color:$color-accent) {
    display: inline;
    background: linear-gradient(
        to bottom,
        rgba($color, 0) 49%,
        rgba($color, 0.2) 50%,
        rgba($color, 0.2) 100%
    );
}

@mixin text-body{
    @include font-body;
    font-size:$font-size-body-copy;
    line-height:1.6;
}

@mixin text-tiny {
    @include font-body;
    font-size:$font-size-tiny;
    line-height: 1.4;
}

// Blocky text
@mixin text-blocky($font-size: 1.4rem) {
    @include font-bold;
    line-height: $line-height-std;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $font-size;
    p {
        line-height: $line-height-std;
        font-size: $font-size;
    }
}

// Blocky text lowercase
@mixin text-blocky--lower($font-size: 1.4rem) {
    @include font-bold;
    
    letter-spacing: 0.05em;
    font-size: $font-size;
    p {
        line-height: $line-height-std;
    }
}

@mixin text-blocky--tiny($font-size: 1.2rem) {
    @include font-bold;
    line-height: $line-height-std;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: $font-size;
    p {
        line-height: $line-height-std;
        font-size: $font-size;
    }
}

// leadin/intro text
@mixin text-leadin($font-size: 2.2rem) {
    @include font-bold;
    font-size: 2rem;
    line-height: 1.2;
    @include break(tablet) {
        font-size: $font-size;
    }
}

// TEXT BODY =================================================================================================

// title
@mixin title($size: 4.3rem) {
    @include font-display;
    font-size: clamp(2.6rem, 3.2vw, $size);
    @include break(tablet) {
        font-size: $size;
    }
    @include break-under(phone) {
        word-break: break-word;
    }
}

// title body
@mixin title-body($size: 2.2rem){
    @include font-display;
    font-size: clamp(2.6rem, 3.2vw, $size);
    @include break(tablet) {
        font-size: $size;
    }
    @include break-under(phone) {
        word-break: break-word;
    }
    padding-left: .5em;
    border-left: 4px solid $color-accent;
}

// title display
@mixin title-display($size: 3vw) {
    line-height: 1.1;
    @include font-display;
    font-size:$size;
    //font-size: clamp(3rem, $size, 4rem);
}

// title display large
@mixin title-display--large($size: 4vw) {
    line-height: 1.1;
    @include font-display;
    font-size: clamp(3.5rem, $size, 7rem);
}

// title block –– titles for cards mainly
@mixin title-block($font-size: 2.4rem) {
    line-height: 1.2;
    font-size: clamp(2rem, 3vw, $font-size);
    @include font-bold;
}

.title{
    @include title;
}
.title-body{
    @include title-body;
}

// HTML/BODY =================================================================================================
html {
    font-size: $font-size-base;
}
body {
    @include font-body--medium;
    font-size: $font-size-std;
    line-height: $line-height-std;
}

.text-blocky {
    @include text-blocky;
    color: blue;
}
.text-blocky--lower {
    @include text-blocky--lower;
}
.text-blocky--tiny {
    @include text-blocky--tiny;
}

// TEXT GAPS =================================================================================================

@mixin text-gap {
    margin-bottom: $gap/2;
    @include break(tablet) {
        margin-bottom: $gap;
    }
}

@mixin text-gap--tight {
    margin-bottom: $gap--tight/2;
    @include break(tablet) {
        margin-bottom: $gap--tight;
    }
}

// TEXT BODY =================================================================================================

// text body
%text-body-format {
    line-height: $line-height-std;
    h1,
    h2,
    h3,
    h4,
    h5,
    img,
    p,
    ul,
    ol {
        @include text-gap;
    }
    img {
        width: 100%;
        max-width: $sitewidth;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @include title-body;
        position: relative;
        bottom: 0.02em;
    }
    h1,
    h2 {
        font-size: 2.2rem;
        padding-left: .5em;
        border-left: 4px solid $color-accent;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4,
    h5 {
        font-size: 1.8rem;
        color: inherit;
    }
    p,
    li {
        @include text-body;
    }
    p,
    ol,
    ul,
    .cite,
    pre {
        max-width: $sitewidth;
    }
    ul {
        box-sizing: border-box;
    }
    li {
        width: calc(100% - 1em);
        list-style: none;
        position: relative;
        padding-left: 1em;
        &:before {
            content: "■";
            color: #21c4d3;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 12px;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    & > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    pre {
        background-color: $white;
        padding: 1em;
    }
    a{
        color: $color-link;
    }
}




// TYPOGRAPHY UTILITES

p.p_mb{
    margin-bottom: 1em;
}