.article-share{
    display: flex;
    gap: $gap/3;
    &__title{
    }
    &__links{
        flex-grow: 1;
        display: flex;
        gap: $gap/3;
    }
    &__link{
        display: block;
        width:18px;
        height:18px;
        svg{
            width:18px;
            height:18px;
        }
    }
}