.author-box{
    width: 100%;
    display: flex;
    align-items: top;
    max-width:760px;
    @include break($sitewidth) {
        width: 66%;
    }
    &__profile{
        margin-right: $gap;
        flex-shrink: 0;
        &__image{
            @include raised-object;
            display: block;
            width: 144px;
            height: 144px;
        }
    }
    &__about{
        flex-grow: 1;
        margin-bottom: $gap/2;
    }
    &__link{
        @include link-styled;
        margin-top:$gap/2;
    }
    &__section-title{
        @include block-title;
        margin-bottom: $gap/2;
    }
    &__author-name{
        display: inline-block;
        @include font-bold;
        font-size: 2.5rem;
        color: $color-primary;
        margin-bottom: $gap/2;
    }
}