.author-badge{
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(-50%);
    @include break(sitewidthplus) {
        left: -57px;
    }
    &__name{
        @include pill;
        padding-left: 57px;
    }
    &__image{
        width: 50px;
        height: 50px;
        border-radius: 25px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top:50%;
        transform: translatey(-50%);
        background: white;
        @include align;
        border: 2px solid white;
        &__image{
            width: 50px;
            height: 50px;
        }
        &__svg{
            background: $color-secondary;
            color: white;
            width: 60px;
            height: 60px;
            position: relative;
            bottom: -5px;
        }
    }
}