.author-box{
    display: flex;
    align-items: top;
    @include break($sitewidth) {
        width: 66%;
    }
    &__profile{
        margin-right: $gap;
        flex-shrink: 0;
        &__image{
            display: block;
            width: 144px;
            height: 144px;
        }
    }
    &__about{
        margin-bottom: $gap/2;
    }
    &__section-title{
        @include block-title;
        margin-bottom: $gap/2;
    }
    &__author-name{
        @include font-bold;
        font-size: 2.5rem;
        color: $color-primary;
        margin-bottom: $gap/2;
    }
}