// back to top button
.backtop {
    $color_text: $color-secondary;
    $color_bg: $white;
    $color_bg_darken: darken($color_bg, 8);
    border-radius: $border-radius $border-radius 0 0;
    text-align: center;
    position: fixed;
    @include break(sitewidth) {
        position: static;
        bottom: 93px;
        right: 0;
    }
    width: 100vw;
    padding-left:5vw;
    padding-right:5vw;
    bottom:-1px;
    left: 0;
    color: $color-text;
    @include align(center, right);
    z-index: 899;
    &__inner{
        @include container;
        position: relative;
        @include break-under(sitewidth) {
            @keyframes fadeout{
                from{
                    opacity:1;
                }
                to{
                    opacity:0;
                }
            }
            @keyframes fadein{
                from{
                    opacity:0;
                }
                to{
                    opacity:1;
                }
            }
        }
        &.fadeout{
            animation: fadeout .5s;
            animation-fill-mode:forwards;
        }
        &.fadein{
            animation: fadein .5s;
            animation-fill-mode:forwards;
        }
    }
    &__button{
        position:absolute;
        right: 0;
        @include break(sitewidth) {
            right: $sidegap;
        }
        bottom: 0;
        background: $white;
        height: 40px;
        @include align(center, center);
        border-radius: $border-radius;
        padding-left:1em;
        padding-right:1em;
        span {
            @include text-blocky(1.2rem);
            display:inline-block;
            margin-left:1em;
            color:$black;
            @include transition;
            @include break-under(sitewidth) {
                display: none;
            }
        }
    }
    &__icon {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
    }
}