.card{
    display: block;
    height: 100%;
    &__image{
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
        position:relative;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        height: auto;
        object-fit:cover;
        @include raised-object;
    }
    &__content{
        @include font-body;
    }
    &__title{
        @include break-under(tablet) {
            font-size: 1.4rem;
        }
        font-size: 1.8rem;
        @include font-bold;
        line-height: 1.2;
        display: block;
        padding-top: 1em;
        padding-bottom: .8em;
    }
    &__cta{
        padding-top:1em;
        @include link-styled;
    }
}