.card{
    display: block;
    background: white;
    height: 100%;
    .component-dark &{
        background: $off-black;
    }
    &__image{
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 75%;
        position:relative;
        background: black;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        height: auto;
        object-fit:cover;
    }
    &__content{
        padding: 1em;
        padding-top: 0;
    }
    &__title{
        @include break-under(tablet) {
            font-size: 1.4rem;
        }
        font-size: 1.5rem;
        @include font-bold;
        line-height: 1.2;
        display: block;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }
}