.card{
    display: block;
    background: white;
    height: 100%;
    .homepage &{
        //background-color: $off-white;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
    }
    &__content{
        padding: 1em;
        padding-top: 0;
    }
    &__title{
        @include break-under(tablet) {
            font-size: 1.4rem;
        }
        @include font-bold;
        font-size: 1.5rem;
        line-height: 1.2;
        display: block;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
}