.eyebrow{
    background-color: $color-dark-gray;
    &__inner{
        padding-top:1em;
        padding-bottom: 1em;
        display: flex;
        justify-content: flex-end;
    }
    &__button{
        cursor:pointer;
        font-size: 1.2rem;
        line-height: .8em;
        padding:.8em 1em;
        display: inline-block;
        width:auto;
        text-align:center;
        position:relative;
        text-decoration:none!important;
        background-color:$color-primary;
        color:white;
        border-radius: 2px;
        text-transform: uppercase;
        @include font-std--bold;
        @include btn-state($color-button, $white);
    }
}