.mobile-menu{
    $bgcolor:white;
    z-index: 100;
    display:block;
    @include break(sitewidth) {
      display:none;
    }
    background-color:$bgcolor;
    height: 100vh;
    width:100%;
    position:absolute;
    right:0;
    top:$header-height-mobile;
    height:calc(100vh - #{$header-height-mobile});
    @include break(sitewidth) {
      top:$header-height;
      height:calc(100vh - #{$header-height});
    }
    transform:translateX(100%);
    display: flex;
    flex-direction: column;
    &.open{
      transform:translateX(0);
      transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &.close{
      transform:translateX(100);
      transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &__main{
    }
    &__footer{
      @include component-dark;
      flex-grow: 1;
    }
    &__list{
      &>li.menu-item{
        margin: 0;
        margin-bottom:$gap/2;
        display: block;
        border-right: 6px solid $color-accent;
        @include align(center, right);
        a{
            @include font-bold;
            font-size: 2rem;
            margin-right: 1em;
            line-height: 1.2em;
            display: block;
        }
        &.menu-item-240{
          border-right: none;
          margin-right: 0;
          @include align(center, right);
          a{
            cursor:pointer;
            display: inline-block;
            width:auto;
            text-align:center;
            position:relative;
            text-decoration:none!important;
            background-color:$color-button;
            color:$white;
            border-radius: 2px;
            padding: .5em 1em;
            @include btn-state($color-button, $white);
            margin-right: 0;
          }
        }
      }
    }
  
}