.posts-list{
    .main-col &{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: $gap/2;
    }
    .sidebar &{
        &__item{
            margin-bottom: $gap/2;
        }
    }
    &--flickity{
        display: block!important;
        width: 100%;
    }
    .flickity-carousel{
        display: block!important;
        width: 100%;
        &--2x{
            .posts-list__item{
                width: calc(50% - .75rem);
                margin:0 .75rem;
            }
        }
        &--4x{
            .posts-list__item{
                width: calc(25% - .75rem);
                margin:0 .75rem;
                @include break-under(tablet) {
                    width: calc(50% - .75rem);
                }
            }
        }
    }
}