.posts-list{
    .main-col &{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: $gap/2;
    }
    .sidebar &{
        &__item{
            margin-bottom: $gap/2;
        }
    }
}