.posts-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: $gap/2;
    &--2x{
        grid-template-columns: 1fr 1fr;
    }
    &--3x{
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--4x{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .sidebar &{
        display: block;
        &__item{
            margin-bottom: $gap/2;
        }
    }
    &--flickity{
        display: block!important;
        width: 100%;
    }
    &--stacked{
        display: block;
        &__item{
            margin-top: $gap*2;
            &:before{
                content:'';
                @include divider;
            }
            &:first-of-type{
                margin-top: $gap;
                &:before{
                    display: none;
                }
            }
        }
    }
    .flickity-carousel{
        display: block!important;
        width: 100%;
        &--2x{
            .posts-list__item{
                width: calc(50% - .75rem);
                margin:0 .75rem;
            }
        }
        &--3x{
            .posts-list__item{
                width: calc(33.33% - .75rem);
                margin:0 .75rem;
                @include break-under(tablet) {
                    width: calc(50% - .75rem);
                }
            }
        }
        &--4x{
            .posts-list__item{
                width: calc(25% - .75rem);
                margin:0 .75rem;
                @include break-under(tablet) {
                    width: calc(50% - .75rem);
                }
            }
        }
    }
}