.post-list{
    &__title{
        @include block-title;
    }
    &__list{
        @include break(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;   
        }
    }
    &__item{
        margin-bottom:$gap/2;
        display: flex;
        @include align(center, left);
        &__image{
            width: 50px;
            height: 50px;
            flex-shrink: 0;
            img{
                width: 50px;
                height: 50px;
            }
        }
        &__title{
            @include font-std--bold;
            margin-left: 1em;
            line-height: 1.2em;
            display: block;
        }
    }
}