.post-gridddd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: $gap/2;
    &--3x{
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--4x{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}