.post-list-item-stacked{
    display: block;
    &__title{
        @include title(3.2rem);
        margin-top: $gap;
    }
    &__meta{
        @include pill;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: $gap;
        &__item{
            &:after{
                content:'|';
                display: inline-block;
                padding-left: .5em;
                padding-right: .5em;
            }
            &:last-of-type{
                &:after{
                    display: none;
                }
            }
        }
    }
    &__content{
        margin-top: $gap;
        @extend %text-body-format;
    }
    &__footer{
        margin-top: $gap;
        &__read-more{
            @include button;
        }
    }
}