.related-articles{
    background-color: $color-dark-gray;
    padding-top: $gap*2;
    padding-bottom: calc( #{$gap*2} + 60px );
    &__title{
        @include block-title;
        margin-bottom: $gap;
    }
}