.sidebar-description{
    background-color: white;
    @include raised-object;
    padding: $gap/2;
    &__description{
    }
    &__contribute{
        display: flex;
        align-items: center;
        max-width: 500px;
        &__pre{
            flex-grow:1;
        }
        &__link{
            @include button($color-primary);
            border-radius: none;
        }
    }
    &__divider{
        background: none;
        margin-top: $gap/2;
        margin-bottom: $gap/2;
        @include divider-whitebg;
    }
}