.sidebar-list{
    &__item{
        margin-bottom:$gap/2;
        &__title{
            @include font-std--bold;
            margin-left: 1em;
            line-height: 1.2em;
            display: block;
        }
        &__image{
            width: 50px;
            height: 50px;
            flex-shrink: 0;
        }
    }
    &__item--image{
        display: flex;
        @include align(center, left);
    }
    &__item--noimage{
        display: block;
        border-left: 3px solid $color-primary;
    }
}