.sidebar{
    &__item{
        margin-bottom: $gap;
        &__title{
            @include block-title;
        }
    }
    .signup-form{
        @include break-under(medium) {
            display: none;
        };
    }
}