.signup-form{
    @include component-dark;
    background-color: #0091FF;
    .sidebar &{
        padding: $gap/2;
    }
    .mobile-menu &{
        padding: $gap;
        &__title{
            text-align: right;
        }
        &__note{
            text-align: right;
        }
        @include align(center, right);
        &__form{
            width: 100%;
            max-width: 350px;
            flex-shrink: 0;
        }
    }
    &__inner{
        display: flex;
        flex-direction: row;
    }
    &__text-input{
        flex-grow: 1;
        input{
            width:100%;
        }
    }
    &__title{
        @include text-blocky;
        display: block;
        padding-bottom: $gap/2;
    }
    &__label{
        @include font-std--bold;
        padding-bottom: .2em;
        display: block;
    }
    &__input{
        padding: .8em!important;
        border:1px solid $color-dark-gray;
        border-radius: none;
        font-size: 1.2rem;
    }
    &__submit{
        &__button{
            @include button($color-primary);
            border-left: 0;
            @include text-blocky(1.2rem);
        }
    }
    &__note{
        margin-top:$gap/2;
        color: white;
        font-size: 1.2rem;
    }
}