.timeline {
    background-color: #E7E7E7;
    &__timeline{
        margin-top:$gap*2;
        margin-bottom:$gap*4;
    }
    &__title{
        @include title-body;
    }
    &__item {
        position: relative;
        width: 100%;
        display: flex;
        &__card {
            background-color: white;
            @include break(tablet) {
                width: calc(100% - #{$gap * 2});
            }
            box-shadow: 0px 3px 12px rgb(0 0 0 / 10%);
            margin-bottom:$gap * 2;
            @include break(sitewidth) {
                width: calc(50% - #{$gap * 2});
                margin-bottom: -#{$gap * 2};
            }
        }
        &__line {
            display: block;
            width: $gap * 4;
            position: relative;
            &:after {
                position: absolute;
                left: 50%;
                content: "";
                display: block;
                width: 2px;
                background-color:$color-primary;
                height: 100%;
                transform: translate(-1px, 0);
            }
            @include break-under(tablet) {
                display: none;
            }
        }
        &__image {
            width: 100%;
            height: auto;
            display: block;
        }
        &__title{
            &__title{
                @include title(2rem);
            }
            font-size: 1.5rem;
            @include font-bold;
            line-height: 1.2;
            display: block;
            margin-top: 1.5em;
            margin-bottom: 1em;
            padding: 0 $gap;
            position:relative;
            &:after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-color: white;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%) rotate(45deg);
                @include break-under(tablet) {
                    display: none;
                }
            }
        }
        &__date {
            display: block;
            position: relative;
            @include break-under(tablet) {
                left:0;
                display: block;
                padding-bottom: 1em;
            }
            @include break(tablet) {
                @include pill;
                position: absolute;
                top: 50%;
                display: inline-flex;
                left: unset;
                right: unset;
            }
        }
        &__description {
            padding: $gap;
            padding-top: 0;
            margin: 0;
            a{
                color:$color-accent;
            }
            p{
                @include font-body;
                line-height: 1.6;
            }
        }
        @include break(tablet) {
            &:nth-of-type(odd) {
                flex-direction: row-reverse;
                justify-content: flex-end;
                .timeline__item__date {
                    transform: translate(50%, -50%);
                    right: -6rem;
                    @include break-under(sitewidth) {
                        right: unset;
                        left: -6rem;
                        transform: translate(-50%, -50%);
                    }
                }
                .timeline__item__title {
                    &:after {
                        @include break-under(sitewidth) {
                            position: absolute;
                            right: unset;
                            left: 0;
                            top: 50%;
                            transform: translate(-50%, -50%) rotate(45deg);
                        }
                    }
                }
                @include break-under(sitewidth) {
                    flex-direction: row;
                    justify-content: flex-end;
                }
            }
            &:nth-of-type(even) {
                flex-direction: row;
                justify-content: flex-end;
                .timeline__item__title {
                    &:after {
                        background-color: white;
                        left: 0;
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
                .timeline__item__date {
                        left: -6rem;
                        transform: translate(-50%, -50%);
                }
            }
        }
        &:last-of-type {
            padding-bottom: 0;
            .timeline__item__card {
                margin-bottom: 0;
            }
        }
    }
    &__beforeafter-copy{
        @extend %text-body-format;
        margin-bottom:$gap*2;
    }
}
