.voting{
    position: relative;
    display: inline-block;
    &__button{
        @include align(center, center);
        @include btn-state($color-primary, white);
        box-shadow: $box-shadow;
        border-radius: 50%;
        width:40px;
        height:40px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 0;
        z-index: 1;
    }
    &__icon{
        width: 25px;
        height:25px;
        transform: rotate(0deg);
        color: currentColor;
    }
    &__counter{
        @include pill;
        padding-right: 45px;
        position: relative;
        right: 0;
    }
}